<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer_about-text">
                Este é um texto de exemplo dentro do footer que estou criando na minha primeira página web usando angular.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> eliézer-elinton@hotmail.com</li>
                <li><i class="fa-brands fa-whatsapp"></i> (14) 9 9857 1132</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>
</footer>